#root {
  display: flex;
}

.menu {
  width: 160px;
  height: 100vh;
  background-color: blanchedalmond;
  display: flex;
  flex-direction: column;
}

.menu a {
  text-decoration: none;
  font-size: 30px;
  font-weight: 600;
  color: blue;
}

.active {
  background-color: rgb(223, 165, 89);
}

.main-page {
  display: flex;
  flex-direction: column;
}

.main-menu {
  width: calc(100vw - 160px);
  height: 50px;
  background-color: chocolate;
}

.planets-content {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 160px);
}

/* .planets-pagination {
  display: flex;
  flex-direction: row;
} */

.rc-pagination {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}