#root {
  display: flex;
}

.menu {
  width: 220px;
  height: 100vh;
  background-color: #272B30;
  display: flex;
  flex-direction: column;
}

.menu a {
  width: 210px;
  padding: 5px;
  text-decoration: none;
  font-size: 30px;
  font-weight: 600;
  color: #82B440;
}

.active {
  background-color: #281E20;
}

.main-page {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 220px);
}

.main-menu {
  height: 50px;
  background-color: #272B30;
}

.main-menu .main-input {
  background-color: #addde9;
  color: #272B30;
  font-weight: normal;
}

.main-menu .main-button {
  background-color: #57b9d1;
  color: #272B30;
  font-weight: normal;
}

.main-content {
  padding: 1em;
  background-color: #959e95;
  height: 100vh;
  color: #fff;
}

.person-page {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 220px);
}

.person-menu {
  height: 50px;
  background-color: #272B30;
}

.person-content {
  padding: 1em;
  background-color: #959e95;
  height: 100vh;
  color: #fff;
}

.planets-page {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 220px);
  background-color: #959e95;
  height: 100vh;
  color: #fff;
}

.rc-pagination {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.rc-pagination button {
  background-color: rgb(7, 12, 39);
}

.planets-search-page {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 220px);
}

.planets-search-menu {
  height: 50px;
  background-color: #272B30;
}

.planets-search-content {
  padding: 1em;
  background-color: #959e95;
  height: 100vh;
  color: #fff;
}

.vehicles-page {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 220px);
}

.vehicles-menu {
  height: 50px;
  background-color: #272B30;
}

.vehicles-content {
  background-color: #959e95;
  height: 100vh;
  color: #fff;
}